        <!-- form handling -->
        <form action="/api/users" method="POST" id="add_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="Professor Name">
                </div>
                <div class="form-group">
                    <label for="topic" class="text-light">Topic Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="topic" value="" placeholder="Topic Name">
                </div>
                <div class="form-group">
                    <label for="summary" class="text-light">Summary</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="summary" value="" placeholder="Requirements">
                </div>
           
             <div class="form-group">
                 <label for="salary" class="text-light">Salary</label>
                 <div class="radio inline">
                     <input type="radio" id="radio-2" name="salary" value="paid" >
                     <label for="radio-2" class="radio-label">Paid</label>
                 </div>
 
                 <div class="radio inline">
                     <input type="radio" id="radio-3" name="salary" value="unpaid" >
                     <label for="radio-3" class="radio-label">Unpaid</label>
                 </div>
 
                 <div class="form-group">
                     <!-- <label for="gender"  class="text-light">Status</label>
                     <div class="radio inline">
                         <input type="radio" id="radio-4"name="status" value="Active" >
                         <label for="radio-4" class="radio-label">Active</label>
                     </div>
     
                     <div class="radio inline">
                         <input type="radio" id="radio-5" name="status" value="Inactive" >
                         <label for="radio-5" class="radio-label">Inactive</label>
                     </div>
  -->
                     <div class="form-group">
                         <button type="submit" class="btn text-dark update">Save</button>
                     </div>
                 </div>
            </div>
         </form>